
<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content text-color-noir background-color-beige1">
          <span class="card-title">Présentation</span>
          <p>
            J'ai souhaité vous présenter ici un tour de France d'une partie de ma collection de cartes postales en noir et blanc.
            Sur certaines, les dates entre parenthèse correspondent à l'année où la carte postale a été écrite.
            Quelques sections sont vides en attente d'une prochaine mise à jour.
            N'hésitez pas à me laisser un message dans la partie contact s'il y avait une erreur de saisie, un bug ou mauvais lien... Je suis ouverte également à toute suggestion.
            Je vous souhaite une agréable visite
          </p>
        </div>
      </div>
    </div>
</div>

<div class="col s12">
  <div class="card-image color-beige3 card-size">
    <img class="image-size" src="mock-pictures/exemple-h-1.jpg">
  </div>
</div>

<div class="col s12 center">
  <h1>Carte des régions de France</h1>
  <img class="" width="650" src="images/carte-fr.png">
</div>
